<div class="center-div">
  <h1>Angular Practical</h1>
  <div>
      <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
          <ng-template pTemplate="header">
            <i class="pi pi-calendar"></i>
            <span>Summary View</span>
          </ng-template>
          <div>
            <app-summary-view></app-summary-view>
          </div>
          
        </p-tabPanel>
        <p-tabPanel header="Header II">
          <ng-template pTemplate="header">
            <i class="pi pi-user"></i>
            <span>Detail View</span>
          </ng-template>
          <div>
            <app-detail-view></app-detail-view>
          </div>
          
        </p-tabPanel>
        
      </p-tabView>
  </div>
</div>
