<div class="card">
    <p-table [value]="tableData" [resizableColumns]="true" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header">
            <tr>
                <th pResizableColumn>Sampling Time</th>
                <th pResizableColumn>Project Name</th>
                <th pResizableColumn>Construction Count</th>
                <th pResizableColumn>is Construction Completed</th>
                <th pResizableColumn>Length of the road</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tableData>
            <tr>
                <td>{{tableData.SamplingTime}}</td>
                <td>{{tableData['Project Name']}}</td>
                <td>{{tableData['Construction Count']}}</td>
                <td>{{tableData['Is Construction Completed']}}</td>
                <td>{{tableData['Length of the road']}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
